<div class="align-search">
    <form action="" class="search-bar">
        <input type="text" placeholder="Search markets..." name="q">
        <button type="submit"><img src="./assets/image/search.png"></button>
    </form>
</div>
<div class="align">
<div class="cryptocurrency">
    <div (click)="getBTC()" class="card" id="card1">
        <div class="row">
            <div class="col-7">
                <p class="title">{{BTC?.title}}</p>
            </div>
            <div class="col-5">
                <img src="./assets/image/{{BTC?.img}}" alt="" class="btc">
            </div>

        </div>
        <div class="row">
            <p class="price">{{BTC?.value}}</p>
        </div>
    </div>
    <div (click)="getETH()"class="card" id="card2">
        <div class="row">
            <div class="col-7 col7e">
                <p class="title">{{Ethereum?.title}}</p>
            </div>
            <div class="col-5 col5e">
                <img src="./assets/image/{{Ethereum?.img}}" alt="" class="btc">
            </div>

        </div>
        <div class="row">
            <p class="price">{{Ethereum?.value}}</p>
        </div>
    </div>
    <div (click)="getSOL()"class="card" id="card3">
        <div class="row">
            <div class="col-7">
                <p class="title">{{Solana?.title}}</p>
            </div>
            <div class="col-5">
                <img src="./assets/image/{{Solana?.img}}" alt="" class="btc">
            </div>

        </div>
        <div class="row">
            <p class="price">{{Solana?.value}}</p>
        </div>
    </div>
    <div class="card" id="card4" *ngIf="selectedOption != undefined">
        <div class="row">
            <div class="col-7">
                <p class="title">{{selectedOption.title}}</p>
            </div>
            <div class="col-5">
                <img src="./assets/image/sol_logo.png" alt="" class="btc">
                <!-- <img src="./assets/image/{{selectedOption.img}}" alt="" class="btc"> -->
            </div>

        </div>
        <div class="row">
            <p class="price">{{selectedOption.value}}</p>
        </div>
    </div>
</div>
</div>
