<div>
    <form action="" class="search-bar">
        <input type="text" placeholder="Search markets..." name="q">
        <button type="submit"><img src="./assets/image/search.png"></button>
    </form>
</div>
<div class="align">
<div class="cryptocurrency">
    <div class="card" id="card1">
        <div class="row">
            <div class="col-7">
                <p class="title">Bitcoin</p>
            </div>  
            <div class="col-5">
                <img src="./assets/image/btc_logo.png" alt="" class="btc">
            </div> 

        </div>
        <div class="row">
            <p class="price">$37,530.14</p>
        </div>
    </div>
    <div class="card" id="card2">
        <div class="row">
            <div class="col-7 col7e">
                <p class="title">Ethereum</p>
            </div>  
            <div class="col-5 col5e">
                <img src="./assets/image/eth_logo.png" alt="" class="btc">
            </div> 

        </div>
        <div class="row">
            <p class="price">$22,130.24</p>
        </div>
    </div>
    <div class="card" id="card3">
        <div class="row">
            <div class="col-7">
                <p class="title">Solana</p>
            </div>  
            <div class="col-5">
                <img src="./assets/image/sol_logo.png" alt="" class="btc">
            </div> 

        </div>
        <div class="row">
            <p class="price">$17,570.04</p>
        </div>
    </div>
</div>
</div>
