
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
.cryptocurrency{
    padding-bottom: 100px;
    padding-top: 0px;
    margin-top: 0px;
}
.row{
    width: fit-content;
}
.card{
    padding: 20px;
    padding-left: 25px;
    padding-right: 5px;
    border-radius: 30px;
    background-color: #2D3653;
    width: 218px;
    margin-bottom: 20px;
    transition: 1s;
    margin-left: 10px;
    margin-right: 10px;
}
.clicked{
    background-color: #758ADD;
}
.clicked .title, .clicked .price{
    color: #11193B;

}

.clicked {
    background-color: #758ADD;
}
.clicked .title,.clicked .price{
    color: #11193B;
}

.title{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #EBEAE5;
    margin-left: 5px;


}
.price{
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    margin-left: 5px;


    margin-top: 15px;
    color: #EBEAE5;

}
.btc{
    width: 70px;
    padding-right: 10px;

}
.col-7{
    padding-top: 5px;
    width: 200px;
}
.col-5{
    padding: 0;
    padding-left: 12px;
}
.col7e{
    padding-top: 5px;
    padding-right: 0px;
    max-width: 60.1%;
}
.col5e{
    padding: 0;
    padding-left: 8px;
    max-width: 37.1%;
}
.card:hover{
    background-color: #758ADD;
    transform: scale(1.06);
}
.card:hover .title,.card:hover .price{
    color: #11193B;
}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar{
    background-color: #2d36539c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 5px 10px;
    margin-top: 90px;
    backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: 0;
    padding: 15px 20px;
    color: #cac7ff;
}
::placeholder{
    color: #cac7ff;
}
.search-bar button img{
    width: 21px;
    padding-bottom: 3px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #58629b;
    cursor: pointer;
}

.search-bar button:hover{
    background-color: #758ADD;
    transform: scale(1.06);
}

.cryptocurrency-wrapper {
    height: 530px;
    width: fit-content;
    padding: 12px;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bbb; 
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999; 
  }

@media only screen and (max-width:1360px) {

      .cryptocurrency-wrapper{
        max-width: 740px;
        overflow-x: scroll; 
        scroll-snap-type: x mandatory;
        height: 220px;
      }
      .cryptocurrency-container {
        -webkit-overflow-scrolling: touch; /* add smooth scrolling on iOS */
        scrollbar-width: none; /* remove the scrollbar */
        -ms-overflow-style: none; /* remove the scrollbar on Edge */
      }
      .cryptocurrency::-webkit-scrollbar {
        display: none; /* hide the scrollbar on WebKit */
      }
      .cryptocurrency {
        padding: 15px;
        margin: 0px 25px;
        white-space: nowrap;
      }
      
      .card {
        display: inline-block;
        margin-right: 15px;
        

      }
      .align{
        display: flex;
        justify-content: center;
        align-items: center;
      }

}