<div class="info">
    <div class="container-content">
        <div class="content-align">
            <div class="card">
                <div class="row">
                    <div class="col-5">
                        <p class="title">24H HIGH</p>
                    </div>  
                    <div class="col-1">
                        <div class="vl"></div>
                    </div>
                    <div class="col-5">
                        <p class="value">29807.84</p>
                    </div> 
                </div>
            </div>
        </div>
    
        <div class="content-align">
            <div class="card">
                <div class="row">
                    <div class="col-5">
                        <p class="title">24H LOW</p>
                    </div>  
                    <div class="col-1">
                        <div class="vl"></div>
                    </div>
                    <div class="col-5">
                        <p class="value">28187.35</p>
                    </div> 
                </div>
            </div>
        </div>
        <div class="content-align">
            <div class="row">
                <div class="col" id="col1">
                    <div class="card">
                        <p class="titleS">VOLUME</p>
                        <p class="valueS">1130.8006</p>
                    </div>
                </div>
                <div class="col" id="col2">
                    <div class="card">
                        <p class="titleS">CHANGE</p>
                        <b><p class="valueS" style="color: #75CAC4;">+4.39%</p></b>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
