<div class="table-div">
    <table id="table">
        <tr>
            <td class="no-hover" style="font-weight: 700; color: #EBEAE5;">Time</td>
            <td (click)="getIBM(1)">1m</td>
            <td (click)="getIBM(5)">5m</td>
            <td (click)="getIBM(15)">15m</td>
            <td (click)="getIBM(30)">30m</td>
            <td (click)="getIBM(60)">1H</td>
            <td>1D</td>
            <td>1W</td>
            <td>1M</td>
            <td>1Y</td>
        </tr>
    </table>
</div>
